<%inherit file="base.html"/>
<%!
    import lazylibrarian
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <ul id="subhead_menu">
            <li><a href="clearhistory?status=all" id="abutton">Clear All History</a></li>
            <li><a href="clearhistory?status=Processed" id="pbutton">Clear Processed</a></li>
            <li><a href="clearhistory?status=Snatched" id="sbutton">Clear Snatched</a></li>
            <li><a href="clearhistory?status=Failed" id="fbutton">Clear Failed</a></li>
        </ul>
    </div>
</%def>

<%def name="body()">
<BR><BR>
<h1>&nbsp;&nbsp;${title}</h1><br>
    <table class="display" id="book_table">
        <thead>
            <tr>
                <th id="bookname">Title</th>
                <th id="type" class="hidden">Type</th>
                <th id="number">ID</th>
                <th id="authorname">Provider</th>
                <th id="date">Date</th>
                <th id="stars">Size</th>
                <th id="status">Status</th>
            </tr>
        </thead>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</%def>
<%def name="headIncludes()">
  <link rel="stylesheet" href="css/data_table.css">
</%def>
<%def name="javascriptIncludes()">
  <script src="js/libs/jquery.dataTables.min.js"></script>
  <script src="js/libs/natural.js"></script>
  <script>
    $(document).ready(function()
    {
        var oTable = $('#book_table').dataTable(
            {
                "bAutoWidth": false,
                "aoColumns": [
                    null,
                    null,
                    { "sType": "natural" },
                    null,
                    { "sType": "natural" },
                    { "sType": "natural" },
                    null
                    ],
                "oLanguage": {
                    "sLengthMenu":"Show _MENU_ rows per page",
                    "sEmptyTable": "No history found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "bServerSide": true,
                "sAjaxSource": 'get_history',
                "bFilter": true,
                "sPaginationType": "full_numbers",
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${lazylibrarian.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        $('td', nRow).eq(1).addClass('hidden');
                        $('td', nRow).eq(3).addClass('center');
                        $('td', nRow).eq(4).addClass('center');
                        $('td', nRow).eq(5).addClass('center');
                    return nRow;
                },
                "aaSorting": [[1, 'asc']],
            });
        $('.dataTables_filter input').attr("placeholder", "Search table here");
        //$(window).resize(function() {oTable.fnDraw(false)});
    });
  </script>
</%def>
